<div class="container">
  <div class="row">
    <div class="col col-12">
      <article>
        <h1>
          <%= @article.title %>
          <small>
            <%= link_to ("<i class='fa fa-pencil'></i>").html_safe, edit_article_path(@article) %>
            <%= link_to ("<i class='fa fa-trash-o'></i>").html_safe, article_path(@article),
                                                                      method: :delete,
                                                                      data: { confirm: "This beautiful article will be forever gone. Are you sure?" }  %>
          </small>
        </h1>
        <hr>
        <p><%= @article.content %></p>
      </article>
      <%= link_to "Back to list", articles_path %>
    </div>
  </div>
</div>